/*Global Styling*/
* {
  font-family: 'BioRhyme', serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #DDE6ED;
}

.wrapper {
  min-height: 100vh;
}

.container {
  flex-grow: 1;
}

.navbar-item:hover:not(.is-active) {
  background-color: transparent;
}

.navbar-brand .navbar-item:hover {
  color: whitesmoke;
}

.navbar-item.hover:hover {
  color: lightgrey;
}

a:link,
a:visited {
  color: whitesmoke;
}

.hover:hover {
  color: whitesmoke;
  text-decoration: none;
}

#email-login {
  margin-bottom: 5px;
}

#password-login {
  margin-bottom: 5px;
}


#homepage-image {
  width: 25%
}

#book-section-homepage {
  display: flex;
  margin-right: 900px;
}

#homepage-book-information {
  margin-top: 25px;
}

.middle-box{
  background-blend-mode: lighten;

}


#tile {
  background-color: transparent !important;
}
